.count{
  display: flex;
  padding-right: 40px;
  border-right: 2px solid #ccc;
}
.main_left{
  display: flex;
  flex-direction: column;

}
.le_up{
  display: flex;
  justify-content: space-between;
}
.le_up p{
  color:white;
  font-size: 38px;
  width: 395px;
  padding-left: 30px;
  margin: 0;
}
.le_down{
  margin-top: 60px;

}
.le_down p{
  color:#4b4e53;
  font-size: 16px;
}
.over{
  background-color: #707378;
  width: 400px;
  border-radius: 8px;
  padding-left: 20px;
  display: flex;
  justify-content: space-around;
}
.over>span {
    font-size: 34px;
    font-weight: 400;
    color: #fdd900;
    display: block;
}
.over>span>b{
  font-size: 16px;
}
.over>b {
  font-size: 34px;
  font-weight: 400;
  color: #fdd900;
}
.over em{
  font-style:normal
}
.color_span{
  color: #fdd900;
}
