.header{
  background-color: #2b2e33;
}
.top{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content:space-around;
  align-items: center;
}
.logo{
  margin-left: 23%;
}
.login{
  text-decoration:none;
  color:#CCCCCC;
}
